@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@600;800&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 600 1.1rem 'Montserrat', sans-serif;
  overflow: hidden;
  background: #000;
}


body {
  background-color: aliceblue;
}


.contenedor {
  position: relative;
  z-index: 10;
  text-align: center;
  background: rgba(255, 255, 255, 0.96);
  padding: 60px 50px;
  border-radius: 40px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.5);
  max-width: 420px;
  width: 90%;
  border: 8px solid #e63946;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 5rem;
  color: #e63946;
  text-shadow: 4px 4px 0 #ffba08;
  margin-bottom: 10px;
}

.eslogan {
  font-size: 1.4rem;
  color: #d62828;
  margin-bottom: 40px;
  font-weight: 800;
}

.btn-principal {
  background: #e63946;
  color: white;
  font-size: 1.5rem;
  padding: 18px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 15px;
  box-shadow: 0 10px 25px rgba(230,57,70,0.6);
  transition: 0.3s;
  font-weight: bold;
}

.btn-principal:hover {
  transform: scale(1.1) translateY(-8px);
  box-shadow: 0 20px 40px rgba(230,57,70,0.8);
}

.btn-secundario {
  background: transparent;
  color: #e63946;
  font-size: 1.3rem;
  padding: 15px 40px;
  border: 4px solid #e63946;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-secundario:hover {
  background: #e63946;
  color: white;
  transform: scale(1.05);
}

.footer-text {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #d62828;
  font-weight: bold;
}