#iniciar {
    background-color: #4CAF50;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    color: white;
}
#titulo {
    text-align: center;
}
#email,
#password {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.boton {
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}
.volver {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: #4CAF50;
}