<<<<<<< HEAD
header {
    background: #e63946;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
header h1 {
    margin: 0;
    font-size: 24px;
}
#cerrarSesion {
    background: white;
    color: #e63946;
    border: 2px solid white;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
#cerrarSesion:hover {
    background: #f4f4f4;
}
=======
>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.categorias {
    background: #ff8800;
    padding: 20px;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.categorias h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.cat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.categoria-card {
    position: relative;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.categoria-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.categoria-card h3 {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0,0,0,0.6);
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.prod-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 18px;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.producto-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.producto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
<<<<<<< HEAD
.producto-card .info {
    padding: 12px;
}
.producto-card h4 {
    margin: 0;
}
.producto-card p {
    margin: 5px 0;
}
=======

.producto-card .info {
    padding: 12px;
}

.producto-card h4 {
    margin: 0;
}

.producto-card p {
    margin: 5px 0;
}

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.producto-card button {
    background: #ff8800;
    color: white;
    padding: 8px 12px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
}
<<<<<<< HEAD
=======


>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.carrito {
    background: #fff5dd;
    padding: 15px;
    margin-top: 30px;
    border-radius: 12px;
}
<<<<<<< HEAD
.carrito h2 {
    margin-bottom: 10px;
}
.carrito ul {
    padding-left: 18px;
}
.carrito li {
    margin-bottom: 5px;
}
.carrito-icon {
    position: fixed;
    top: 17px;
    right: 160px;
=======

.carrito h2 {
    margin-bottom: 10px;
}

.carrito ul {
    padding-left: 18px;
}

.carrito li {
    margin-bottom: 5px;
}

.carrito-icon {
    position: fixed;
    top: 20px;
    right: 20px;
>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
    background: #ff8800;
    color: white;
    padding: 10px 14px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.carrito-icon span {
    background: white;
    color: #ff8800;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.carrito-panel {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
<<<<<<< HEAD
.oculto {
    display: none;
}
=======

.oculto {
    display: none;
}

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.vaciar-btn {
    background: red;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
<<<<<<< HEAD
=======

>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
.comprar-btn {
    background: #28a745;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
<<<<<<< HEAD
.comprar-btn:hover {
    background: #218838;
}
=======

.comprar-btn:hover {
    background: #218838;
}
>>>>>>> 07d04ee046c5662c35d79539a1ec83ba7c084a58
