* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.navegacion {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: end;

    padding: 15px 25px;
}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.navegacion li {
    display: inline-block;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 20px;
}

img {
    width: 100%;
    display: block;
}

.titulo {
    position: absolute;
    top: 200px;              
    left: 60%;              
    
    
    color: white;           
    font-size: 2.5rem;       
    font-weight: bold;
    text-shadow: 2px 2px 8px black;  
}

#imagen {
    position: relative;      
    display: inline-block;   
}

p {
    position: absolute;
    top: 250px;              
    left: 60%;              
    color: white;           
    font-size: 1.2rem;       
    font-weight: bold;
    text-shadow: 2px 2px 8px black;  
    max-width: 400px;
}

.titulo, .descripcion {
    opacity: 0;
    transform: translateY(50px);   
    animation: subir 1s ease-out forwards;
}

.titulo {
    animation-delay: 0.2s;
}

.descripcion {
    animation-delay: 0.5s;
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(50px);
    }
}
