
.navbar {
    background: #e63946;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a, .navbar button {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover, .navbar a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    background-color: #45a049;
}